@model SHFSGAMES.Models.Games

@{
    ViewData["Title"] = "Download Games";

}

<h1>Download Games</h1>
<a asp-area="" asp-controller="Games" asp-action="FreeGames">Free Games</a>
<br />
<a asp-area="" asp-controller="Games" asp-action="PurchasedGames">Purchased Games</a>
